
.wrapper {
    height: 80vh;
}

.tableWrapper {
    width: 80%;
    height: 80vh;
    border: 1px solid grey;
    border-radius: 10px;
    
    margin-bottom: -5%;
    background-color: white;
}

.table {
    height: 65vh;
    overflow-y: scroll;
    margin-left: 2%;
}
.tableTitle {
    font-size: x-large;
    margin: 2%;
    border-bottom: 1px solid rgb(177, 176, 176);
    padding-bottom: 2%;
}
