<app-tool-bar></app-tool-bar>
<div class="wrapper" fxLayout='column' fxLayoutAlign="center center">
    <div class="tableWrapper">
        <div class="tableTitle" fxLayoutAlign='start start'>
            How to use Product App
        </div>
        <div class="table" fxLayout='column'>
            <h3>You can see navigation buttons on the top!</h3>
            <div fxLayout='row' >
                <mat-icon>dashboard</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Dashboard - Here you can view your basic details</h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>storefront</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Manage Products - Here you can manage all your products</h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>support</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>How to use? - You are here! For support</h4>
            </div>
            <h3>Managing Products</h3>
            <div>You can perform some actions on your Products List to Create, Edit, Delete, Sort and Filter Products.
                Below are the list of actions -
            </div>
            <hr>
            <div fxLayout='row'>
                <mat-icon>add</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Add - To create a new product. Clicking this button will create a new row where you can
                    fill detail of new product.
                </h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>create</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Create - To edit a product. Clicking this button will make the row editable where you can
                    edit detail of product and choose new image of the product.
                </h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>delete</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Delete - To delete a product. Clicking this button will delete the corresponding product. You confirmation
                    alert, don't worry if you click that button accidentally.
                </h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>check</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Confirm - To confirm changes. Clicking this button will confirm the changes you made in the editable fields
                    while entering or editing product details.
                </h4>
            </div>
            <div fxLayout='row'>
                <mat-icon>clear</mat-icon>
                &nbsp;&nbsp;&nbsp;
                <h4>Cancel - To cancel the current operation. Clicking this button will cancel the operation you were just performing like
                    creating a new product or editing the details of the product.
                </h4>
            </div>
            <h4>
                Sort - You can sort the data in the Alphabetical or Numerical order by clicking the column title. It can be in ascending or
                descending.
            </h4>
            <h4>
                Filter - You can filter the data by using the input fields respective to their columns. It can be handy if have lots of products.
                Don't mistook with creating the new product. Creating new product has a seperate button.
            </h4>
            <h4>
                Thats all for now.
            </h4>
        </div>
    </div>
</div>
