.adjustment{
    height: 90vh;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box{
    width: 50%;
    height: 60%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    background: white;
    border-radius: 10px;
}

.profileImg{
    width: 100%;
    padding: 5px;
    border-bottom: 1px grey solid;
    
}

img{
    margin-left: 5%;
    border-radius: 50px;
    margin-right: 3%;
}   

.Name{
    width: 40%;
}

.Details {
    margin: 5%;
}
